/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

.hamburger {
  justify-content: left;
  width: 10%
}

.bar {
  min-width: 35px;
  max-width: 45px;
  height: 6px;
  background-color: white;
  margin: 10px 10px;
}

.bar-sep {
  position: relative;
  width: 100%;
  height: 6px;
  top: 45%;
  background-color: white;
}

.nav-links, .contentsBox {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

  .nav-links {
      display: none;
  }

  .contentsBox {
      position: relative;
      display: flex;
      left: 25%;
      text-decoration: none;
  }

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.github, .linkedin {
  top: 10%;
  height:
}

.mugshot {
  position: relative;
  width: 100%;
  height: 200px;
}

.me {
  position: relative;
  width: 40%;
  height: 70%;
  top: 15%;
  border-radius: 50%;
}

.thumbnail {
  position: relative;
  float: none;
  width: 90%;
  left:5%;
  height: 200px;
}

.col-side {
  width: 45%;
}

.col-mid {
  width: 10%;
}

.linkedin, .github {
  position: relative;
  width: 100px;
}

.linkedin {
  height: 100px;
  top: 15%
}

.github {
  height: 80px;
  top: 22%;
}

.left{
  float: left;
}

.right {
  float: right;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.mail {
  width: 100px;
  height: 100px;
}

.col-l, .col-r {
  float: none;
}

.central {
  text-align: center;
}

.under {
  text-decoration: underline;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.row-centered {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  left: 10%;
  margin: 0;
}

.col-ext, .footer-col-side {
   display: none;
}

.col-inner-side {
  display: flex;
  width: 10%;
  height: inherit;
}

.col, .footer-col-cent {
  text-align: center;
  width: 100%;
}

.col-inner-main {
  width: 90%;
  left: 5%;
}

.col-l, .col-r {
  position: relative;
  width: 100%
}

.bgBlack {
  background-color: #0B0C10;
  color: #45A29B;
}

.bgGrey {
  background-color: #1F2833;
}

.bgDarkBlue{
  background-color: #45A29E;
}

.bgPurple {
  background-color: #44318D;
}

.bgRed {
  background-color: #B23850;
}

.buttonBlue{
  background-color: #05386B;
}

.buttonPurple {
  background-color: #190061;
}

.buttonRed {
  background-color: #6F2232;
}

.displayed {
  display: flex;
}

html, body, nav {
  margin: 0;
  border: 0;
}

body {
  background-color: #0B0C10;
}

nav, nav:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 1.25em .3em;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.homeLink-sm, .aboutLink-sm, .portLink-sm {
   display: flex;
   justify-content: center;
}

.homeLink-lg, .aboutLink-lg, .portLink-lg {
  display: none;
}

.homeCap {
  font-size: 20px;
}

#bigList {
  display: none;
}

#phoneList {
  display: block;
}

p, h1, .homeWhite {
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.slideshow-container {
   position: relative;
   width: 100%;
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   clear: both;
   text-align: center;
}

.slideshow {
  width: 100%;
  height:250px;
  position: relative;
  margin: auto;
}

.slide-element, .slide-element-2, .slide-element-3 {
  display: none;
}

.prev, .next, .prev-2, .next-2, .prev-3, .next-3 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next, .next-2, .next-3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .prev-2, .prev-3 {
  left:0;
}

.prev:hover, .next:hover, .prev-2:hover, .next-2:hover, .prev-3:hover, .next-3:hover {
  background-color: rgba(0,0,0,0.8);
}

.logo {
  max-height: 300px;
}

.pc, .mobile {
  width: 100%;
  position: relative;
}

.pc {
  height: 60%;
}

.mobile {
  height: 90%;
}

.caption-container {
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 90%;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  text-align:center;
}

.caption, .caption-2, .caption-3 {
  color: #f2f2f2;
  font-size: 15px;
  position: relative;
  width: 100%;
  text-align: center;
}

.iteration, .iteration-2, .iteration-3 {
  color: #f2f2f2;
  font-size: 12px;
}

.iteration-container {
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  text-align:center;
}

.dot, .dot-2, .dot-3 {
  cursor: pointer;
  float: center;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
	margin:auto;
	text-align:center;
	float: center;
}

.active, .dot:hover, .dot-2:hover, .dot-3:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.decLess {
  text-decoration: none;
}

input[type=button] {
  margin: 10px;
  padding: 10px, 10px, 10px, 10px;
}
/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  .bar {
    min-width: 45px;
    max-width: 100px;
    height: 8px;
    margin: 10px 10px;
  }

  .bar-sep {
    width: 90%;
    left: 5%;
    height: 6px;
    top: 45%;
    background-color: white;
  }

  .mugshot {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .me {
    width: 40%;
    height: 75%;
    top: 12.5%;
    border-radius: 50%;
  }

  .thumbnail {
    position: relative;
    float: left;
    width: 50%;
    height: 250px;
    left: 0;
    margin: 10px;
  }


  .mobile {
    width: 70%;
  }

  .caption-container {
    width: 50%;
    left: 25%;
  }

  .al-c {
    display: flex;
    align-items: center;
   }

  .col-ext, .footer-col-side {
     display: flex;
     width: 10%;
     height: inherit;
  }

  .col, .footer-col-cent, .col-inner-main {
    width: 80%;
  }

  .col-l, .col-r {
    width: 50%;
  }

  .col-l {
    float: left;
  }

  .col-r{
    float: right;
  }

  #bigList {
    display: block;
  }

  #phoneList {
    display: none;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mugshot {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .me {
    width: 30%;
    height: 70%;
    top: 20%;
    border-radius: 50%;
  }

  .thumbnail {
    width: 30%;
    height: 200px;
  }

  .pc {
    width: 50%;
    height: 80%;
  }

  .mobile {
    width: 20%;
    height: 90%;
  }

  .caption-container {
    width: 27.5%;
    left: 35%;
  }

  nav, nav:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  nav a {
    padding: 1.25em .3em;
  }

  .homeLink-sm, .aboutLink-sm, .portLink-sm {
     display: none;
  }

  .homeLink-lg, .aboutLink-lg, .portLink-lg {
    display: flex;
  }

  .homeCap {
    font-size: 22px;
  }
}
