/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

.hamburger {
  justify-content: left;
  width: 10%
}

.bar {
  min-width: 35px;
  max-width: 45px;
  height: 6px;
  background-color: white;
  margin: 10px 10px;
}

.bar-sep {
  position: relative;
  width: 100%;
  height: 6px;
  top: 45%;
  background-color: white;
}

.nav-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mugshot {
  position: relative;
  width: 100%;
  height: 200px;
}

.me {
  position: relative;
  width: 40%;
  height: 70%;
  top: 15%;
  border-radius: 50%;
}

.col-side {
  width: 45%;
}

.col-mid {
  width: 10%;
}

.social-logo {
  position: relative;
  height: 90%;
  top: 5%;
  width: 20%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.col-ext, .footer-col-side {
   display: none;
}

.col-inner-side {
  display: flex;
  width: 10%;
  height: inherit;
}

.col, .footer-col-cent {
  text-align: center;
  width: 100%;
}

.col-inner-main {
  width: 90%;
  left: 5%;
}

.bgBlack {
  background-color: #0B0C10;
  color: #45A29B;
}

.bgGrey {
  background-color: #1F2833;
}

.bgDarkBlue{
  background-color: #45A29E;
}

.homeWhite {
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.displayed {
  display: flex;
}

html, body, nav {
  margin: 0;
  border: 0;
}

nav, nav:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 1.25em .3em;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.homeLink-sm, .aboutLink-sm, .portLink-sm {
   display: flex;
   justify-content: center;
}

.homeLink-lg, .aboutLink-lg, .portLink-lg {
  display: none;
}

.homeCap {
  font-size: 20px;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  .bar {
    min-width: 45px;
    max-width: 100px;
    height: 8px;
    margin: 10px 10px;
  }

  .bar-sep {
    width: 90%;
    left: 5%;
    height: 6px;
    top: 45%;
    background-color: white;
  }

  .mugshot {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .me {
    width: 40%;
    height: 75%;
    top: 12.5%;
    border-radius: 50%;
  }

  .col-ext, .footer-col-side {
     display: flex;
     width: 10%;
     height: inherit;
  }

  .col, .footer-col-cent, .col-inner-main {
    width: 80%;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mugshot {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .me {
    width: 30%;
    height: 70%;
    top: 20%;
    border-radius: 50%;
  }

  nav, nav:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  nav a {
    padding: 1.25em .3em;
  }

  .homeLink-sm, .aboutLink-sm, .portLink-sm {
     display: none;
  }

  .homeLink-lg, .aboutLink-lg, .portLink-lg {
    display: flex;
  }

  .homeCap {
    font-size: 22px;
  }
}
